<script>
var userToken = "<%= current_user.token %>"
var userNickname = " <%= current_user.nickname %> "
</script>

<div class="container text-center">

<div class ="info">
<h1><%= current_user.nickname %>'s Info</h1>
<img src= "<%= current_user.image %>" height="200px">
</div>

<div class = "vertical-buffer">
  <h3> Contributions</h3>
  <div class = "contrib">
    <p> In last year: <%= @contributions.in_past_year %></p>
  </div>
  <div class = "contrib">
    <p> Longest streak: <%= @contributions.longest_streak %></p>
  </div>
  <div class = "contrib">
    <p> Current streak: <%= @contributions.current_streak %></p>
  </div>
</div>

<div class = "vertical-buffer">
<h3>Followers</h3>
<div id="follower-list">
</div>
</div>

<div class = style="margin-vertical:100px">
<h3>Following</h3>
<div id="following-list">
</div>
</div>

<div class = "vertical-buffer">
<h3>Starred Repos </h3>
<div id="starred-list">
</div>
</div>

<div class = "vertical-buffer">
<h3>Organizations</h3>
<div id='org-list'>
</div>
<div>

<div class = "vertical-buffer">
<h3>My Repositories</h3>
<div id = "repo-list">
</div>
</div>
