<!DOCTYPE html>
<html>
<head>
  <title>git it</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "/partials/header" %>

<%= yield %>

</body>
<%= javascript_include_tag 'application' %>
</html>
